 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #F6F6F6;
}

.container{
    display: flex;
    flex-direction: column; 
}
 
.header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 30px;
    /* border: 1px solid red; */
}


label{
    font-size: 1.3rem;
    font-weight: bold;
}

.header img{ 
    width: 200px; 
}
 

.inputName{
    margin-top: 70px;
    margin-bottom: 20px;
    
}
.inputPassword{
    margin-bottom: 30px;
}
  
.btn{
    font-size: 1.3rem;
    font-weight:  bold;
    width: 100%;
     
}

/* media query */
@media (min-width: 470px){

    .container{
        margin-top: 6px;
        width: 450px;
        border: 3px solid #EFE7E7; 
        border-radius: 30px;
        height: 98vh;
    }
    .btn{
        width: 200px;
    }
  
    .title{
        margin-top: -20px; 
    }

    .header img{ 
        margin-top: -20px;
        margin-bottom: -30px; 
    }
    
    .inputName{
        margin-bottom: 5px;
    }

    .inputPassword{
        margin-bottom: 10px;
    }
    

    .main{
        display: flex;
        margin: 0 auto;
        width: 400px; 
        flex-direction: column; 
        /* border: 1px solid black; */
    }

    
}
